build
bsim
rtl
coremark
Mem.hex
Mem.mem
nexysvideo/Mem.mem
log.txt
soft/zig-cache
soft/zig-out
soft/kernel
nexysvideo/db
nexysvideo/bsim
nexysvideo/build
nexysvideo/rtl
soft/firmware.asm
rust/firmware.asm
*.log
screen.txt
elf_to_hex
rust/target
